.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
}

button {
  height: 30px;
  border-radius: 6px;
  width: 50px;
  border: 1px solid black;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
}

.categories {
  display: flex;
  margin: 10px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.categories div {
  cursor: pointer;
  padding: 5px;
  border-radius: 6px;
}

.tasks-field {
  margin: 20px auto;
  border-radius: 6px;
  width: 370px;
  position: relative;
  border: 1px solid #ddd;
}

.task {
  list-style: none;
  position: relative;
  left: -56%;
  transform: translateX(50%);
  text-align: left;
  font-size: 18px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
}

.task:hover {
  background-color: beige;
}

.com {
  background-color: beige;
}
.com div {
  opacity: 0.6;
  text-decoration: line-through;
}

.del {
  border-radius: 6px;
  padding: 4px;
  font-size: 12px;
  margin-right: 5px;
  background: #ff0800;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.completed {
  color: white;
  background: #03c03c;
}

.not-completed {
  color: white;
  background: #ff0800;
}

.active {
  font-weight: bold;
}